<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Challenge</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Java Challenge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto align-items-center">
            <div class="nav-item active mr-3">
                <form th:action="@{/question/add-question-form}">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Create a challenge</button>
                </form>
            </div>
            <div class="nav-item active mr-3">
                <form th:action="@{/question/questions-for-player/{playerId}(playerId=${player.getId()})}">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Your questions</button>
                </form>
            </div>
            <div th:if="${player.getName() == 'admin'}" class="nav-item active mr-3">
                <form th:action="@{/admin/admin-page}">
                    <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Admin tools</button>
                </form>
            </div>
        </div>
        <div class="navbar-nav ml-auto justify-content-end align-items-center">
            <div class="nav-item active">
                <a class="navbar-brand" th:href="@{/player/account}">
                    Wallet
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-wallet" viewBox="0 0 16 16">
                        <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                    </svg>
                </a>
            </div>
            <div class="nav-item active">
                <a class="navbar-brand" th:href="@{/logout}">
                    <button type="button" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="content-wrap">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card-deck">
                    <div class="card mb-4" style="min-width: 18rem;" th:each="wallet : ${wallets}">
                        <div class="card-body d-flex justify-content-between flex-column">
                            <h5 class="card-title mb-4" th:text="${wallet.getPlayer().getName() + &quot;'s wallet&quot;}"></h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="font-weight-bold">ID:</span>
                                    <span class="ml-2" th:text="${wallet.getId()}"></span>
                                    <br>
                                    <span class="font-weight-bold">Tokens:</span>
                                    <span class="ml-2 text-muted" th:text="${wallet.getNrOfTokens() + ' $JAVA'}"></span>
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-bold">NFTs:</span>
                                    <ul class="ml-2 mt-2" th:each="nft:${wallet.getNfts()}">
                                        <li th:text="${nft.getType()}"></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="mt-auto text-center">
                                <a class="btn btn-outline-primary btn-block"
                                   th:href="@{/admin/wallet-history/{walletId}(walletId=${wallet.getId()})}">
                                    View history
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container-fluid bg-light text-center">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted mb-0">Java Challenge &copy; <span
                        th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span></p>
                <p class="text-muted mb-0">Made with <i class="fas fa-heart text-danger"></i> for programming </p>
                <div class="text-center">
                    <p class="text-muted mb-0 d-inline-block"><i class="fas fa-phone"></i> +40-761495719</p>
                    <p class="text-muted mb-0 d-inline-block"><i class="fas fa-map-marker-alt"></i> Romania, Bucharest
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>